<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">


<polymer-element name="poly-video-modal" attributes="video opened" noscript>
  <template>
    <style>
      paper-fab.blue {
        background: #4285f4;
        color: white;
      }

      .player-container {
        margin: 0 auto;
        padding-top: 40px;
      }

      .description {
        max-width: 640px;
      }

      p.title {
        margin-top: 0;
        max-width: 640px;
      }
    </style>
    <paper-dialog backdrop="true"
                  transition="paper-dialog-transition-center"
                  opened="{{opened}}">
      <p class="title">
        {{video.snippet.title}}
      </p>

      <p class="player-area">
        <iframe id="player" type="text/html" width="640" height="390"
                src="http://www.youtube.com/embed/{{video.id.videoId}}?enablejsapi=1&origin=http://kashyap02004.github.io/poly-play/&autoplay=1"
                frameborder="0"
                allowfullscreen></iframe>
      </p>
      <p class="description">
        {{video.snippet.description}}
      </p>
      <paper-fab class="mini blue"
                 icon="fullscreen-exit" role="button"
                 dismissive></paper-fab>
    </paper-dialog>
  </template>
  <script>
    Polymer('poly-play-modal', {
      opened: false,
      video: {}
    });
  </script>
</polymer-element>