<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/core-icons/av-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<polymer-element name="poly-video-modal" attributes="video opened videos" noscript>
  <template>
    <style>
      paper-fab.blue {
        background: #4285f4;
        color: white;
      }

      .player-container {
        margin: 0 auto;
        padding-top: 40px;
      }

      .description {
        max-width: 640px;
      }

      p.title {
        margin-top: 0;
        max-width: 640px;
      }
      .published {
        font-size: 12px;
      }
      .channel {
        color: #4285f4;
        cursor: pointer;
      }
      #player {
        width: 640px;
        height: 390px;
      }
      /* Smartphones (portrait and landscape) ----------- */
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 480px) {
        #player {
          width: 300px;
          height: 182px;
        }
      }
    </style>
    <paper-dialog backdrop="true"
                  transition="paper-dialog-transition-center"
                  opened="{{opened}}">
      <p class="title">
        {{video.snippet.title}}
      </p>

      <p class="player-area">
        <iframe id="player" type="text/html"
                src="http://www.youtube.com/embed/{{video.id.videoId}}?enablejsapi=1&origin=http://kashyap02004.github.io/poly-play/&autoplay=1"
                frameborder="0"
                allowfullscreen></iframe>
      </p>
      <div class="description" horizontal layout>
        <div flex>{{video.snippet.description}}</div>
        <div >
          <paper-icon-button on-tap="{{playPreviousVideo}}" icon="av:skip-previous"></paper-icon-button>
          <paper-icon-button on-tap="{{playNextVideo}}" icon="av:skip-next"></paper-icon-button>
        </div>
      </div>
      <p class="published">
        Published {{formatTime(video.snippet.publishedAt)}}
      </p>
      <p>
        Channel
        <span on-tap="{{handleChannelTap}}" class="channel" dismissive>
          {{video.snippet.channelTitle}}
        </span>
      </p>
      <paper-fab class="mini blue"
                 icon="fullscreen-exit" role="button"
                 dismissive></paper-fab>
    </paper-dialog>
  </template>
  <script>
    Polymer('poly-video-modal', {
      opened: false,
      video: {},
      formatTime: function (time) {
        return moment(time).fromNow();
      },
      playNextVideo: function () {
        this.changeVideo('next');
      },
      playPreviousVideo: function () {
        this.changeVideo('previous');
      },
      changeVideo :function (action) {
        var index = undefined;
        for (var i = 0; i < this.videos.length; i++) {
          if (this.videos[i].id.videoId === this.video.id.videoId) {
            index = i;
          }
        }
        if (action == 'previous') {
          index = index - 1;
          if (index < 0) {
            index = this.videos.length - 1;
          }
        } else {
          index = index + 1;
          if (index >= this.videos.length) {
            index = 0;
          }
        }
        var video = this.videos[index];
        this.fire('video-changed', video);
      },
      handleChannelTap: function(event, detail, sender) {
        this.fire('channel-selected', this.video);
      }
    });
  </script>
</polymer-element>