<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../poly-video/poly-video.html">

<polymer-element name="poly-videos" attributes="currentVideo searchTerm">
  <template>
    <style>
      .video {
        display: inline-block;
        margin: 10px 0 0 10px;
      }
      .loadmore {
        text-align: center;
        margin-bottom: 30px;
      }
    </style>
    <div id="videos-list">
      <template repeat="{{video in videos}}">
        <div class="video">
          <poly-video video="{{video}}"
                      on-video-play="{{handleVideoPlay}}"></poly-video>
        </div>
      </template>
    </div>
    <p class="loadmore">
      <paper-button label="Load More ..."
                    hidden?="{{!videos.length}}"
                    on-tap="{{handleLoadMore}}"
                    dismissive></paper-button>
    </p>
  </template>
  <script>
    Polymer('poly-videos', {
      currentVideo: {},
      videos: [],
      searchTerm: '',
      nextToken: undefined,
      ready: function () {
        var self = this;
        function initialize () {
          window.googleApiClientReady = function() {
            gapi.auth.init(function() {
              window.setTimeout(loadAPIClientInterfaces, 1);
            });
          }

          window.loadAPIClientInterfaces = function () {
            gapi.client.load('youtube', 'v3', function() {
              handleAPILoaded();
            });
          }

          // After the API loads, call a function to enable the search box.
          window.handleAPILoaded = function () {
            self.loadVideos();
          }

          var loadApiScript = function () {
            var scr = document.createElement('script');
            scr.type = 'text/javascript';
            scr.async = true;
            scr.src = "https://apis.google.com/js/client.js?onload=googleApiClientReady";
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(scr, s);
          }
          loadApiScript();
        }

        initialize();
      },
      handleVideoPlay: function (event, detail, sender) {
        this.currentVideo = sender.templateInstance.model.video;
        this.fire('video-changed', this.currentVideo);
      },
      searchTermChanged: _.debounce(function () {
        this.loadVideos(true);
      }, 100, false),
      handleLoadMore: _.debounce(function () {
        this.loadVideos();
      }, 300, false),
      loadVideos: function (reset) {
        var self = this;
        var queryObject = {
          q: self.searchTerm,
          part: 'snippet',
          maxResults: 50,
          type: 'video',
//          videoCategoryId: 10,
          videoEmbeddable: true,
          fields: 'items(id(videoId),snippet(title,channelTitle,thumbnails(medium))),nextPageToken',
          key: 'AIzaSyCujzgGdCJxKUEU1lJvkqwPVaE9nRMKs1I'
        }
        if (self.nextToken && !reset) {
          queryObject.pageToken = self.nextToken;
        }
        var request = gapi.client.youtube.search.list(queryObject);
        request.execute(function(response) {
          self.nextToken = response.result.nextPageToken;
          if (reset) {
            self.videos = response.items;
          } else {
            self.videos = self.videos.concat(response.items);
          }
        });
      }
    });
  </script>
</polymer-element>