<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../poly-video/poly-video.html">

<polymer-element name="poly-videos" attributes="videos">
  <template>
    <style>
      .video {
        display: inline-block;
        margin: 10px 0 0 10px;
      }
      /* Smartphones (portrait and landscape) ----------- */
      @media only screen
      and (min-device-width : 320px)
      and (max-device-width : 480px) {
        .video {
          margin-left: 0;
        }
      }
    </style>
    <div id="videos-list">
      <template repeat="{{video in videos}}">
        <div class="video">
          <poly-video video="{{video}}"
                      on-video-play="{{handleVideoPlay}}"
                      on-channel-play="{{handleChannelPlay}}"></poly-video>
        </div>
      </template>
    </div>
  </template>
  <script>
    Polymer('poly-videos', {
      videos: [],
      handleVideoPlay: function (event, detail, sender) {
        this.fire('video-changed', sender.templateInstance.model.video);
      },
      handleChannelPlay: function (event, detail, sender) {
        this.fire('channel-selected', sender.templateInstance.model.video);
      }
    });
  </script>
</polymer-element>