<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog-transition.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../poly-video-loader/poly-video-loader.html">
<link rel="import" href="../poly-search-input/poly-search-input.html">

<polymer-element name="poly-video-search-config" attributes="videos" noscript>
  <template>
    <style>
      .config {
        text-align: left;
      }
      paper-button {
        vertical-align: middle;
        position: relative;
      }
      .group-by-label {
        top: 1px;
      }
      .more-filters-label {
        bottom: 2px;
      }
      .on-screen-config {
        text-align: left;
      }
      .pagination {
        text-align: left;
      }
      .on-search-channel {
        vertical-align: top;
      }
      #search-input {
        margin-bottom: 20px;
      }
    </style>
    <poly-video-loader config="{{searchConfig}}"
                       videos="{{videos}}"
                       on-videos-loaded="{{videosLoaded}}"></poly-video-loader>
    <div>
      <div id="search-input">
        <poly-search-input inputValue="{{searchConfig.q}}" on-key-changed="{{setSearch}}"></poly-search-input>
      </div>
      <span hidden?="{{!currentChannel.title}}">
        <paper-button class="on-search-channel"
                      icon="cancel"
                      label="{{currentChannel.title}}"
                      on-tap="{{clearChannel}}"></paper-button>
      </span>
    </div>

    <div class="on-screen-config">
      <paper-button class="group-by-label"
                    label="Order By"></paper-button>
      <paper-radio-group selected="{{searchConfig.order}}">
        <paper-radio-button name="relevance"
                            label="Relevance"></paper-radio-button>
        <paper-radio-button name="date"
                            label="Upload Date"></paper-radio-button>
        <paper-radio-button name="rating"
                            label="Rating"></paper-radio-button>
        <paper-radio-button name="viewcount"
                            label="View Count"></paper-radio-button>
      </paper-radio-group>
      <paper-button class="more-filters-label"
                    icon="menu"
                    on-tap="{{showDialog}}"></paper-button>
    </div>
    <div class="pagination">
      <span>
        <paper-button on-tap="{{clearChannelAndSearch}}"
                      label="All Videos"></paper-button>
      </span>
      <span hidden?="{{!currentChannel.title}}">
        <paper-button icon="chevron-right"></paper-button>
        <paper-button on-tap="{{clearSearch}}"
                      label="{{currentChannel.title}}"></paper-button>
      </span>
      <span hidden?="{{searchConfig.q == ''}}">
        <paper-button icon="chevron-right"></paper-button>
        <paper-button label="{{searchConfig.q}}"></paper-button>
      </span>
    </div>
    <paper-dialog heading="Search Configuration"
                  backdrop="true"
                  transition="paper-dialog-transition-center"
                  opened="{{showConfigModal}}">
      <div class="config">
        <h4>Published</h4>
        <paper-radio-group selected="0" on-change="{{setPublishChange}}">
          <paper-radio-button name="0" label="Any Time"></paper-radio-button>
          <paper-radio-button name="1" label="Last Hour"></paper-radio-button><br>
          <paper-radio-button name="2" label="Today"></paper-radio-button>
          <paper-radio-button name="3" label="This Week"></paper-radio-button><br>
          <paper-radio-button name="4" label="This Month"></paper-radio-button>
          <paper-radio-button name="5" label="This Year"></paper-radio-button><br>
          <paper-radio-button name="6" label="Past 5 Years"></paper-radio-button>
        </paper-radio-group>
        <h4>Duration</h4>
        <paper-radio-group selected="{{searchConfig.videoDuration}}">
          <paper-radio-button name="any" label="Any"></paper-radio-button>
          <paper-radio-button name="long" label="> 20 min (Long)"></paper-radio-button><br>
          <paper-radio-button name="medium" label="4 min - 20 min (Medium)"></paper-radio-button>
          <paper-radio-button name="short" label="< 4 min (Short)"></paper-radio-button>
        </paper-radio-group>
      </div>
      <paper-button label="close" dismissive></paper-button>
    </paper-dialog>
  </template>
  <script>
    Polymer('poly-video-search-config', {
      showConfigModal: false,
      searchConfig: {
        q: '',
        part: 'snippet',
        maxResults: 20,
        order: 'relevance',
        type: 'video',
        videoDuration: 'any',
        pageToken: undefined,
        publishedAfter: undefined,
        videoEmbeddable: true,
        channelId: '',
        fields: 'items(id(videoId),snippet(title,publishedAt,description,channelId,channelTitle,thumbnails(medium))),nextPageToken',
        key: 'AIzaSyCujzgGdCJxKUEU1lJvkqwPVaE9nRMKs1I'
      },
      videos: [],
      videosLoaded: function (event, details) {
        this.nextToken = details.nextToken;
      },
      clearNextToken: function () {
        this.nextToken = undefined;
        this.searchConfig.pageToken = undefined;
      },
      nextToken: undefined,
      setPublishChange: function (event, detail, sender) {
        var id = Number(sender.selected),
          start;
        switch (id) {
          case 1:
            start = moment().subtract(1, 'hour').toJSON();
            break;
          case 2:
            start = moment().startOf('day').toJSON();
            break;
          case 3:
            start = moment().startOf('week').toJSON();
            break;
          case 4:
            start = moment().startOf('month').toJSON();
            break;
          case 5:
            start = moment().startOf('year').toJSON();
            break;
          case 6:
            start = moment().subtract(5, 'year').toJSON();
            break;
          case 0:
            start = undefined;
            break;
        }
        this.searchConfig.publishedAfter = start;
      },
      clearSearch: function () {
        this.clearNextToken();
        this.searchConfig.order = 'relevance';
        this.searchConfig.q = '';
      },
      setSearch: function (event, detail, sender) {
        this.clearNextToken();
        this.searchConfig.order = 'relevance';
//        this.searchConfig.q = sender.value;
      },
      showDialog: function () {
        this.showConfigModal = true;
      },
      currentChannel: undefined,
      loadMore: function () {
        this.searchConfig.pageToken = this.nextToken;
      },
      setChannel: function (video) {
        var channel = {
          title: video.snippet.channelTitle,
          id: video.snippet.channelId
        };
        this.currentChannel = channel;
        this.searchConfig.channelId = channel.id;
        this.clearSearch();
        this.searchConfig.order = 'date';
      },
      clearChannel: function () {
        this.clearNextToken();
        this.currentChannel = undefined;
        this.searchConfig.order = 'relevance';
        this.searchConfig.channelId = '';
      },
      clearChannelAndSearch: function () {
        this.clearSearch();
        this.clearChannel();
      }
    });
  </script>
</polymer-element>