<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../../bower_components/core-icons/av-icons.html">


<polymer-element name="poly-video" attributes="video">
  <template>
    <style>
      .video {
        height: 100px;
        width: 330px;
        cursor: default;
      }
      .video:hover {
        background: rgba(0,0,0,.1);
      }
      .thumbnail {
        width: 170px;
        height: 100%;
        overflow: hidden;
        float: left;
        position: relative;
      }
      .info {
        float: left;
        width: 150px;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        overflow: hidden;
      }
      .controls {
        color: rgba(255,255,255,.5);
        position: absolute;
        top: 30px;
        left: 65px;
      }
      img {
        height: 100%;
        width: 100%;
      }
    </style>
    <div class="video">
      <div class="thumbnail">
        <img src="{{video.snippet.thumbnails.medium.url}}">
        <div class="controls">
          <paper-button icon="av:play-circle-outline" tab-index="2" on-tap="{{playVideo}}"></paper-button>
        </div>
      </div>
      <div class="info">
        {{video.snippet.title}}
      </div>
    </div>
  </template>
  <script>
    Polymer('poly-video', {
      video: {},
      playVideo: function(event, detail, sender) {
        this.fire('video-play');
      }
    });
  </script>
</polymer-element>