<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../poly-videos/poly-videos.html">
<link rel="import" href="../poly-video-modal/poly-video-model.html">

<polymer-element name="poly-play">
  <template>
    <style>
      .search-container {
        text-align: center;
        padding: 30px;
      }
      .videos-container {
        padding: 0 20px;
      }
      .toggle-player {
        float: right;
      }
      paper-fab.blue {
        background: #4285f4;
        color: white;
      }
    </style>
    <div class="search-container">
      <paper-input label="Search Videos..."
                   on-keyup="{{handleSearchInput}}"></paper-input>
      <paper-fab class="toggle-player mini blue"
                 icon="fullscreen" role="button"
                 hidden?="{{showVideo || !currentVideo.id.videoId}}"
                 on-tap="{{showVideoDialog}}"></paper-fab>
    </div>

    <div class="videos-container">
      <poly-videos searchTerm="{{searchTerm}}"
                   on-video-changed="{{handleVideoChanged}}"></poly-videos>
    </div>

    <poly-video-modal video="{{currentVideo}}" opened="{{showVideo}}"></poly-video-modal>

  </template>
  <script>
    var paperInput = CoreStyle.g.paperInput = CoreStyle.g.paperInput || {};
    paperInput.focusedColor = '#4285f4';

    Polymer('poly-play', {
      currentVideo: {},
      showVideo: false,
      searchTerm: '',
      savedVideos: [],
      handleVideoChanged: function (event, video, sender) {
        this.currentVideo = video;
        this.showVideo = true;
      },
      showVideoDialog: function () {
        this.showVideo = true;
      },
      handleSearchInput: function (event, detail, sender) {
        this.searchTerm = sender.value;
      }
    });
  </script>
</polymer-element>